.login__container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.login__card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  margin: 10%;
  height: fit-content;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 2rem 5%;
  padding: 3rem;
  background-color: var(--color-primary-0);
}
