.register__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: max-content;
  height: 100%;
  max-width: 430px;
  padding: 1rem;
}

.register__card p {
  text-align: center;
  color: var(--color-primary-900);
  line-height: 1.5rem;
  padding: 2rem;
}

.register__card img {
  width: 70%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  width: 25rem;
  min-width: 10rem;
  gap: 1rem;
  align-items: center;
}

.imgContainer {
  width: 40%;
  height: auto;
}

.textContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
