.aboutEcuador {
  overflow: hidden;
}

.imgContainer {
  height: 60vh;
  max-width: 700px;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: justify;
  margin: auto;
  margin-bottom: 10rem;
}

.imgContainer > div {
  height: 100%;
  width: 50%;
  margin: 1rem;
  overflow: hidden;
}

.imgContainer img {
  width: auto;
  height: 100%;
  object-fit: cover;
  justify-self: center;
}

@media (max-width: 500px) {
  .imgContainer {
    height: 50vh;
    width: 100%;
  }

  .imgContainer > div {
    margin: 1rem;
  }
}
